body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
}

#selectedServices {
  list-style-type: none;
  padding: 0;
}

#selectedServices li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 50px;
  border: 2px solid darkgreen;
  margin-bottom: 10px;
}

.remove {
  cursor: pointer;
}

.remove:hover {
  color: red;
}

.total {
  margin-top: 20px;
  font-size: 18px;
}

.container {
  margin-left: 270px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
